.videos {
  // .videos__container

  &__container {
    @media (min-width: $pc) {
      padding: 0;
    }
  }

  // .videos__search

  &__search {
    margin-bottom: rem(30);
  }

  // .videos__items

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(380), 1fr));
    gap: rem(30);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(rem(310), 1fr));
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
    }
  }

  // .videos__item

  &__item {
  }

  // .videos__popup-video

  &__popup-video {
    .popup-video {
      // .popup-video__img

      &__img {
        margin-bottom: rem(20);

        &::after,
        img {
          border-radius: rem(10);
        }
      }
    }
  }

  // .videos__title

  &__title {
    text-align: center;
  }
}
