.main-concerts {
  position: relative;
  background-color: $mainBg;

  @media (prefers-color-scheme: dark) {
    background-color: $darkBg;
  }

  // .main-concerts__container

  &__container {
  }

  // .main-concerts__main-block

  &__main-block {
    padding: rem(50) rem(20) rem(50) 0;

    @media (max-width: $mobile) {
      padding: 0 0 rem(30);
    }
  }

  // .main-concerts__img

  &__img {
    @media (min-width: $mobile) {
      img {
        border-top-left-radius: rem(10);
      }
    }
  }
}
