.tabs {
  margin-top: rem(70);

  // .tabs__titles

  &__titles {
    display: flex;
    @include responsiveValue(font-size, 16, 14);
    margin-bottom: rem(30);
  }

  // tabs__title

  &__title {
    @include centered(flex);
    flex: 1 1 auto;
    height: em(50, 16);
    color: $darkColor;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $darkBg;
    border-radius: 0 0 em(5, 16) em(5, 16);
    transition: opacity 0.3s ease 0s;

    &:not(:last-child) {
      margin-right: em(5, 16);
    }

    &:not(&_active) {
      @include hover;
    }

    &:focus-visible {
      border: rem(1) solid #fff;
      border-radius: 0 0 em(5, 16) em(5, 16);
      outline: none;
    }

    @media (prefers-color-scheme: dark) {
      color: $mainColor;
      background-color: $mainBg;
    }

    @media (max-width: $pc) {
      &:first-child {
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: 0;
      }
    }

    @media (max-width: $mobile) {
      > * {
        display: block;
        padding: 0 em(5, 16);
        text-align: center;
        @include nowrapText;
      }
    }

    // tabs__title_active

    &_active {
      color: $mainColor;
      cursor: default !important;

      @media (prefers-color-scheme: dark) {
        color: $darkColor;
        background-color: $darkBg;
      }

      > * {
        font-weight: 400;
      }
    }
  }

  // .tabs__contents

  &__contents {
  }

  // .tabs__content

  &__content {
    position: relative;
    margin-bottom: rem(50);

    &:focus-visible {
      outline: none;

      &::after {
        position: absolute;
        top: rem(-1);
        right: rem(1);
        bottom: rem(-1);
        left: rem(1);
        content: "";
        border: rem(1) solid #fff;
        border-radius: rem(5);
      }
    }
  }
}
