%responsive-object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%vertical-text {
  transform: rotate(-180);
  writing-mode: vertical-lr;
  text-orientation: upright;
}
