// Responsive value
@mixin responsiveValue(
  $property,
  $startSize,
  $minSize,
  $type: 1,
  $widthFrom: $maxWidth,
  $widthTo: $minWidth
) {
  // For calc();
  $addSize: calc(($startSize - $minSize) / 16);

  $calcSize: calc(
    #{rem($minSize)} + #{$addSize} * (100vw - #{rem($widthTo)}) / #{calc(
        $widthFrom / 16
      ) - calc($widthTo / 16)}
  );

  // If there is less container
  @if $type == 1 {
    #{$property}: rem($startSize);

    @media (max-width: rem($widthFrom)) {
      #{$property}: $calcSize;
    }
  }
  // If there is more container
  @else if $type == 2 {
    #{$property}: rem($startSize);

    @media (min-width: rem($widthFrom)) {
      #{$property}: $calcSize;
    }
  }
  // Always
  @else {
    #{$property}: $calcSize;
  }
}
