// Responsive value
@mixin responsiveValue(
  $property,
  $startSize,
  $minSize,
  $type: 0,
  $widthFrom: $maxWidth,
  $widthTo: $minWidth
) {
  // For calc();
  $addSize: ($startSize - $minSize) / 16;

  $calcSize: calc(
    #{rem($minSize)} + #{$addSize} * (100vw - #{rem($widthTo)}) / #{$widthFrom /
      16 - $widthTo / 16}
  );

  // Always
  @if $type == 1 {
    #{$property}: $calcSize;
  }
  //If there is more container
  @else if $type == 2 {
    #{$property}: rem($startSize);

    @media (min-width: rem($widthFrom)) {
      #{$property}: $calcSize;
    }
  }
  // If there is less container
  @else {
    #{$property}: rem($startSize);

    @media (max-width: rem($widthFrom)) {
      #{$property}: $calcSize;
    }
  }
}
