*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scrollbar-gutter: stable;
}

html,
body,
#root {
  min-width: $minWidth + px;
  height: 100%;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1;
  color: $mainColor;
  background-color: $mainBg;

  @media (prefers-color-scheme: dark) {
    color: $darkColor;
    background-color: $darkBg;
  }
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  li {
    list-style: none;
  }
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
