// px to %
@function prc($px, $from) {
  $result: calc($px / $from) * 100%;
  @return $result;
}

// px to rem
@function rem($px, $current: 16) {
  $result: calc($px / $current) + rem;
  @return $result;
}

// px to em
@function em($px, $current: 16) {
  $result: calc($px / $current) + em;
  @return $result;
}
