.video {
  position: relative;
  aspect-ratio: 16/9;

  @supports not (aspect-ratio: 16 / 9) {
    padding-top: 56.25%;
  }

  .img {
    position: static;
  }

  video,
  iframe {
    @include fill;
    object-fit: cover;
  }
}
