@import "@components/layout/navigation/Menu/Menu";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  // .header__container

  &__container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(70);
  }

  // .header__img

  &__img {
    position: relative;
    z-index: 9;
    width: rem(150);
    height: rem(30);
    transition: opacity 0.3s ease 0s;
    @include hover;
  }
}
