.switch-language {
  font-size: rem(16);
  color: $darkColor;

  @media (max-width: $tablet) {
    order: -1;
    font-size: rem(20);
  }

  span:not(:last-child) {
    padding-right: em(10);
    border-right: em(1) solid $darkColor;
  }

  span:not(:first-child) {
    padding-left: em(10);
    border-left: em(1) solid $darkColor;
  }

  span {
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
