.track-list {
  font-size: rem(18);

  @media (max-width: $mobile) {
    font-size: rem(16);
  }

  // .track-list__track

  &__track {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    &::marker {
      font-weight: 500;
    }

    > * {
      font-weight: 400;
    }
  }
}
