.swiper {
  // .swiper_bullets

  &_bullets {
    .swiper-wrapper {
      padding-bottom: rem(20 + 10);
    }
  }

  .swiper-pagination {
    @include centered(flex);

    &.swiper-pagination-bullets {
      bottom: 0 !important;
    }

    .swiper-pagination-bullet {
      width: rem(6) !important;
      height: rem(6) !important;
      margin: 0 !important;
      background-color: #fff !important;

      &:not(:last-child) {
        margin-right: rem(5) !important;
      }

      &:not(&-active) {
        opacity: 0.8 !important;
      }

      &.swiper-pagination-bullet-active {
        width: rem(10) !important;
        height: rem(10) !important;
      }
    }
  }
}
