* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  min-width: $minWidth + px;
  height: 100%;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1;
  color: var(--mainColor);
  background-color: var(--mainBg);
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

input,
textarea {
  outline: none;
}

input {
  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
}

textarea {
  resize: none;
}

a,
button:not(:disabled) {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  > li {
    list-style: none;
  }
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
