.videos {
  // .videos__container

  &__container {
    @media (min-width: $pc) {
      padding: 0;
    }
  }

  // .videos__search

  &__search {
    margin-bottom: rem(30);
  }

  // .videos__items

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(380), 1fr));
    gap: rem(30);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(rem(310), 1fr));
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
    }
  }

  // .videos__item

  &__item {
    &._hidden {
      display: none;
    }
  }

  // .videos__body

  &__body {
    position: relative;
  }

  // .videos__img

  &__img {
    position: relative;
    aspect-ratio: 16/9;
    margin-bottom: rem(20);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: rem(10);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: rem(10);
    }
  }

  // .videos__popup

  &__popup {
  }

  // .videos__button

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(80);
    color: $darkColor;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }
  }

  // .videos__video

  &__video {
    height: 60vh;

    @media (max-width: $tablet) {
      width: 60vw;
      height: auto;
    }

    @media (max-width: $mobile) {
      width: 75vw;
      height: auto;
    }

    iframe {
      border-radius: rem(10);
    }
  }

  // .videos__title

  &__title {
    text-align: center;
    font-weight: 500;
    font-family: $fontFamily2;
  }
}
