.transition {
  // .transition__enter

  &__enter {
    transition: 0.3s ease-out 0s;
  }

  // .transition__enter-from

  &__enter-from {
    opacity: 0;
  }

  // .transition__enter-to

  &__enter-to {
    opacity: 1;
  }

  // .transition__leave

  &__leave {
    transition: 0.2s ease-in 0s;
  }

  // .transition__leave-from

  &__leave-from {
    opacity: 1;
  }

  // .transition__leave-to

  &__leave-to {
    opacity: 0;
  }
}
