.main-videos {
  position: relative;
  text-align: center;
  background-color: $mainBg;

  @media (prefers-color-scheme: dark) {
    background-color: $darkBg;
  }

  @media (min-width: $mobile) {
    padding-bottom: rem(50);
  }

  // .main-videos__title

  &__title {
    margin-bottom: em(30, 40);
    font-family: $fontFamily2;
    font-size: rem(40);
    font-weight: 500;
  }

  // .main-videos__slider

  &__slider {
    margin-bottom: rem(30);
  }

  // .main-videos__popup-video

  &__popup-video {
    .popup-video {
      // .popup-video__img

      &__img {
        @media (min-width: $pc) {
          aspect-ratio: 25/9;

          @supports not (aspect-ratio: 25 / 9) {
            padding-bottom: 36%;
          }
        }
      }
    }
  }
}
