.text-block {
  @media (max-width: $mobile) {
    text-align: center;
  }

  // .text-block__title

  &__title {
    margin-bottom: em(20, 40);
    font-size: rem(40);
    line-height: 1.2;
  }

  // .text-block__text

  &__text {
    line-height: 1.3;

    &:not(:last-child) {
      margin-bottom: em(20, 16);
    }

    > p {
      &:not(:last-child) {
        margin-bottom: em(15, 16);
      }
    }
  }

  // .text-block__btn

  &__btn {
    font-size: rem(16) !important;
  }
}
