.language-switcher {
  display: flex;
  font-size: rem(16);
  color: $darkColor;

  @media (max-width: $tablet) {
    order: -1;
    font-size: rem(20);
  }

  // .language-switcher__item

  &__item {
    &:not(:last-child) {
      padding-right: em(10);
      border-right: em(1) solid $darkColor;
    }

    &:not(:first-child) {
      padding-left: em(10);
      border-left: em(1) solid $darkColor;
    }
  }

  // .language-switcher__btn

  &__btn {
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
