.language-switcher {
  display: flex;
  font-size: rem(16);
  color: #fff;

  @media (max-width: $tablet) {
    font-size: rem(20);
  }

  // .language-switcher__item

  &__item {
    &:not(:last-child) {
      padding-right: em(10, 16);
      border-right: em(1, 16) solid #fff;
    }

    &:not(:first-child) {
      padding-left: em(10, 16);
      border-left: em(1, 16) solid #fff;
    }
  }

  // .language-switcher__btn

  &__btn {
    @include hover;
    text-transform: uppercase;
    transition: opacity 0.3s ease 0s;

    &:not(:disabled) {
      font-weight: 500;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
