// Icons fonts

// ============================================================================

@include font(icons);

%icon {
  font-family: icons, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}

[class*="_icon-"] {
  &::before {
    @extend %icon;
    display: block;
  }
}

._icon-tik-tok:before {
  content: "\e908";
}
._icon-cross:before {
  content: "\e907";
}
._icon-loupe:before {
  content: "\e906";
}
._icon-youtube:before {
  content: "\ea9d";
}
._icon-spotify:before {
  content: "\e901";
}
._icon-youtube-music:before {
  content: "\e902";
}
._icon-apple-music:before {
  content: "\e903";
}
._icon-deezer:before {
  content: "\e904";
}
._icon-arrow-top:before {
  content: "\e900";
}
._icon-instagram:before {
  content: "\ea92";
}
._icon-telegram:before {
  content: "\ea95";
}
._icon-twitter:before {
  content: "\ea96";
}
