.main-block {
  @media (max-width: $mobile) {
    text-align: center;
  }

  // .main-block__title

  &__title {
    font-size: rem(40);
    font-weight: 500;
    line-height: 1.15;

    &:not(:last-child) {
      margin-bottom: em(20, 40);
    }
  }

  // .main-block__text

  &__text {
    line-height: 1.3;

    &:not(:last-child) {
      margin-bottom: em(20, 16);
    }

    p:not(:last-child) {
      margin-bottom: em(15, 16);
    }
  }

  // .main-block__main-link

  &__main-link {
    font-size: rem(16) !important;
  }
}
