@import "@/components/screens/about/AboutSections/AboutSections";
@import "@/components/screens/about/UkraineSupport/UkraineSupport";

.about-page {
  padding: rem(30) 0;
  margin-top: rem(70);

  > * {
    &,
    > section {
      &:not(:last-child) {
        margin-bottom: rem(50);
      }
    }
  }
}
