@import "./AboutSections/AboutSections";

.about-page {
  > main {
    position: relative;
    min-height: rem(300);
    padding: rem(30) 0;
    margin-top: rem(70);

    > * {
      &,
      > section {
        &:not(:last-child) {
          margin-bottom: rem(50);
        }
      }
    }
  }
}
