.scroll-top {
  position: fixed;
  z-index: 10;
  bottom: em(40, 44);
  right: em(20, 44);
  font-size: rem(44);
  border-radius: em(5, 44);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  // .scroll-top_active

  &_active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }
  }

  // .menu__arrow-top

  &__arrow-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(60, 44);
    height: em(60, 44);
    color: $darkColor;
  }
}
