.menu {
  // .menu__scroll-top

  &__scroll-top {
    position: fixed;
    z-index: 10;
    bottom: em(40, 44);
    right: em(20, 44);
    font-size: rem(44);
    border-radius: em(5, 44);
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &._hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  // .menu__arrow-top

  &__arrow-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(60, 44);
    height: em(60, 44);
    color: $darkColor;
    transition: all 0.3s ease 0s;
  }
}
