.search {
  // .search__filter-text

  &__filter-text {
    position: relative;
    left: 50%;
    display: flex;
    align-items: center;
    max-width: rem(370);
    padding: em(10, 16) em(15, 16);
    color: $mainColor;
    border: em(2, 16) solid $mainColor;
    border-radius: em(5, 16);
    transform: translateX(-50%);
    @include responsiveValue(font-size, 16, 14);

    @media (prefers-color-scheme: dark) {
      color: $darkColor;
      border-color: $darkColor;
    }

    > * {
      &:not(:last-child) {
        margin-right: em(5, 16);
      }
    }

    // .search__filter-text_focus

    &_focus {
      box-shadow: 0 0 em(2, 16) em(2, 16) $mainColor;

      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 em(2, 16) em(2, 16) $darkColor;
      }
    }
  }

  // .search__loupe

  &__loupe {
  }

  // .search__input

  &__input {
    flex: 1 1 auto;

    &::-webkit-search-cancel-button {
      width: em(16, 16);
      height: em(16, 16);
      appearance: none;
      cursor: pointer;
      background-image: url("../../../assets/img/icons/cross.svg");
      background-size: contain;
      transition: all 0.3s ease 0s;

      @media (prefers-color-scheme: dark) {
        filter: invert(100%) contrast(200%);
      }

      &:hover {
        opacity: 0.5;
      }
    }

    @media (prefers-color-scheme: dark) {
      &::placeholder {
        color: #d6d6d6;
      }
    }
  }
}
