.tabs {
  margin-top: rem(70);

  // .tabs__titles

  &__titles {
    display: flex;
    font-family: $fontFamily2;
    font-weight: 500;
    @include responsiveValue(font-size, 16, 14);
  }

  // tabs__title

  &__title {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: em(50);
    color: $darkColor;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $darkBg;
    border-radius: 0 0 em(5) em(5);
    transition: all 0.3s ease 0s;

    &:not(:last-child) {
      margin-right: em(5);
    }

    @media (prefers-color-scheme: dark) {
      color: $mainColor;
      background-color: $mainBg;
    }

    @media (max-width: $pc) {
      &:first-child {
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: 0;
      }
    }

    @media (max-width: $mobile) {
      > span {
        display: block;
        padding: 0 em(5);
        text-align: center;
        @include nowrap;
      }
    }

    &:hover {
      opacity: 0.5;
    }

    // tabs__title_active

    &_active {
      color: $mainColor;
      cursor: default;
      background-color: $mainBg;

      @media (prefers-color-scheme: dark) {
        color: $darkColor;
        background-color: $darkBg;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  // .tabs__contents

  &__contents {
  }

  // .tabs__content

  &__content {
    padding: rem(30) 0 rem(50);
  }
}
