.about-section {
  // .about-section__container

  &__container {
    display: flex;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .about-section__text-block

  &__text-block {
    flex: 1 1 47.5%;
    align-self: center;
    padding: rem(50) rem(20) rem(50) 0;

    @media (max-width: $tablet) {
      padding: 0 0 rem(30);
    }

    .text-block {
      // .text-block__title

      &__title {
        font-size: rem(32);

        @media (max-width: $mobile) {
          font-size: rem(24);
          text-align: left;
        }
      }

      // .text-block__text

      &__text {
        > p {
          @media (max-width: $tablet) {
            text-align: justify;
          }
        }
      }
    }
  }

  &:first-child {
    @media (min-width: $tablet) {
      img {
        border-radius: 0 0 rem(10) rem(10);
      }
    }
  }

  &:nth-child(even) {
    .about-section__text-block {
      padding: rem(50) 0 rem(50) rem(20);

      @media (min-width: $tablet) {
        order: 1;
      }

      @media (max-width: $tablet) {
        padding: 0 0 rem(30);
      }
    }
  }

  // .about-section__img

  &__img {
    flex: 1 1 52.5%;
    padding-bottom: 30%;

    @media (max-width: $tablet) {
      padding-bottom: 62.07%;
    }

    img {
      border-radius: rem(10);
    }
  }
}
