.full-screen {
  // full-screen__img

  &__img {
    position: relative;
    @include responsiveValue(width, 300, 200);
    @include responsiveValue(padding-bottom, 300, 200);

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
