// Extends

// ============================================================================

// Btn
%btn {
  display: inline-block;
  padding: em(15, 18) em(20, 18);
  font-size: rem(18);
  font-weight: 500;
  border: em(2, 18) solid var(--mainColor);
  border-radius: em(5, 18);

  @media (max-width: $mobile) {
    font-size: rem(14);
  }

  // %btn_active

  &_active {
    color: var(--mainBg);
    cursor: default;
    background-color: var(--mainColor);
  }

  // %btn_hover

  &_hover {
    transition: color, background-color 0.3s ease 0s;

    @include hover(
      (
        color: var(--mainBg),
        background-color: var(--mainColor),
      )
    );
  }
}
