// Settings template

$fontSize: rem(16);

// Fonts
$fontFamily: "Open Sans";
$fontFamily2: "Montserrat";

// Primary colors

$light: #fff;
$dark: #333;
@include dataTheme(mainColor, $dark, $light);
@include dataTheme(mainBg, $light, $dark);

// ============================================================================

// Adaptive grid settings

// The minimum page width
$minWidth: 320;
// The width of the canvas
$maxWidth: 1440;
// The width of the limiting container
$maxWidthContainer: 1170;
// General indenter
$containerPadding: 40;

// The width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints

// Desktops, laptops, some tablets in a horizontal position
$desktop: $containerWidth + 0.98px;
// Tablets, some phones in the horizontal position
$tablet: 991.98px;
// Large phones
$mobile: 767.98px;
// Small phones
$mobileSmall: 479.98px;

// Scrollbar width
$scrollbarWidth: rem(10);

// Adaptive type:
// 1 = responsiveness
// !1 = according to breakpoints
$adaptiveType: 1;
