[class*="__img"] {
  position: relative;
}

.img {
  // .img_svg

  &_svg {
    > img {
      position: relative !important;
      object-fit: fill;
    }
  }

  &,
  > picture {
    > img {
      @include fill;
      object-fit: cover;
    }
  }
}
