.about-main {
  position: relative;
  background-color: var(--mainBg);

  // .about-main__container

  &__container {
  }

  // .about-main__text-block

  &__text-block {
    padding: rem(50) 0 rem(50);

    @media (max-width: $mobile) {
      padding: rem(50) 0 0;
      text-align: center;
    }
  }

  // .about-main__img

  &__img {
    @media (min-width: $mobile) {
      img {
        border-bottom-left-radius: rem(10);
      }
    }
  }
}
