@import "@components/pages/about/AboutSection/AboutSection.scss";
@import "@components/pages/about/Biography/Biography.scss";
@import "@components/pages/about/Childhood/Childhood.scss";
@import "@components/pages/about/From2007To2009/From2007To2009.scss";
@import "@components/pages/about/From2011To2013/From2011To2013.scss";
@import "@components/pages/about/Year2014/Year2014.scss";
@import "@components/pages/about/Year2015/Year2015.scss";
@import "@components/pages/about/From2016To2017/From2016To2017.scss";
@import "@components/pages/about/From2017To2018/From2017To2018.scss";
@import "@components/pages/about/From2018ToPresent/From2018ToPresent.scss";
@import "@components/pages/about/Family/Family.scss";
@import "@components/pages/about/SupportOfUkraine/SupportOfUkraine.scss";

.about-page {
  margin-top: rem(70);

  @media (max-width: $tablet) {
    margin-top: rem(100);
  }

  section {
    margin-bottom: rem(50);
  }
}
