.main-videos {
  position: relative;
  text-align: center;
  background-color: var(--mainBg);

  @media (min-width: $mobile) {
    padding-bottom: rem(50);
  }

  > * {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  // .main-videos__title

  &__title {
    font-size: rem(40);

    @media (max-width: $mobile) {
      font-size: rem(32);
    }
  }

  // .main-videos__swiper

  &__swiper {
  }

  // .main-videos__popup-video

  &__popup-video {
    .popup-video__title {
      text-align: left;
    }

    .popup-video__img {
      @media (min-width: $desktop) {
        aspect-ratio: 25 / 9;

        @supports not (aspect-ratio: 25 / 9) {
          padding-bottom: 36%;
        }
      }
    }
  }
}
