.main-videos {
  position: relative;
  text-align: center;
  background-color: var(--mainBg);

  @media (min-width: $mobile) {
    padding-bottom: rem(50);
  }

  // .main-videos__title

  &__title {
    margin-bottom: em(30, 40);
    font-size: rem(40);
  }

  // .main-videos__swiper

  &__swiper {
    margin-bottom: rem(30);
  }

  // .main-videos__popup-video

  &__popup-video {
    .popup-video {
      // max-width: 90%;

      // .popup-video__title

      &__title {
        text-align: left;
      }

      // .popup-video__img

      &__img {
        @media (min-width: $pc) {
          aspect-ratio: 25/9;

          @supports not (aspect-ratio: 25 / 9) {
            padding-bottom: 36%;
          }
        }
      }
    }
  }
}
