.page-not-found {
  // .page-not-found__container

  &__container {
    margin-top: rem(70);
    padding-top: rem(50);
    padding-bottom: rem(50);
  }

  // .page-not-found__title

  &__title {
    margin-bottom: em(20, 60);
    font-size: rem(60);
    font-weight: 500;
    font-family: $fontFamily2;
  }

  // .page-not-found__label

  &__label {
    margin-bottom: em(20, 30);
    font-size: rem(30);
    font-weight: 500;
  }

  // .page-not-found__redirect-homepage

  &__redirect-homepage {
    font-size: rem(20);
  }
}
