// The ratio
$content: 50%;
$object: 50%;

.object-outside-container {
  @media (min-width: $mobile) {
    display: flex;
  }

  // .object-outside-container__content

  &__content {
    display: flex;
    flex: 0 0 100%;

    + div {
      @media (min-width: $mobile) {
        position: relative;
        flex: 0 0
          calc(
            ((100% - rem($containerPadding)) * ($object / 100%)) +
              rem($containerPadding) / 2
          );
        padding-bottom: 30%;
        transform: translateX(-100%);

        img,
        iframe,
        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      @media (min-width: rem($containerWidth)) {
        flex: 0 0
          calc(
            50vw - ($content / 100% - 0.5) * calc(#{$maxWidthContainer + px})
          );
      }

      img,
      iframe,
      video {
        max-width: 100%;
      }
    }
  }

  // .object-outside-container__container

  &__container {
    display: flex;
    align-items: center;
  }

  // .object-outside-container__body

  &__body {
    @media (min-width: $mobile) {
      width: $content;
    }
  }

  // .object-outside-container_pc

  &_pc {
    @media (min-width: $pc) {
      display: flex;
    }

    // .object-outside-container_pc__content

    &__content {
      display: flex;
      flex: 0 0 100%;

      + div {
        @media (min-width: $pc) {
          position: relative;
          flex: 0 0
            calc(
              ((100% - rem($containerPadding)) * ($object / 100%)) +
                rem($containerPadding) / 2
            );
          padding-bottom: 30%;
          transform: translateX(-100%);

          img,
          iframe,
          video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        @media (min-width: rem($containerWidth)) {
          flex: 0 0
            calc(
              50vw - ($content / 100% - 0.5) * calc(#{$maxWidthContainer + px})
            );
        }

        img,
        iframe,
        video {
          max-width: 100%;
        }
      }
    }

    // .object-outside-container_pc__container

    &__container {
      display: flex;
      align-items: center;
    }

    // .object-outside-container_pc__body

    &__body {
      @media (min-width: $pc) {
        width: $content;
      }
    }
  }
}
