.swiper {
  // .swiper-button-prev

  &-button-prev {
    &::after {
      left: rem(15);
    }
  }

  // .swiper-button-next

  &-button-next {
    &::after {
      right: rem(15);
    }
  }

  // .swiper-button-prev
  &-button-prev,
  // .swiper-button-next
  &-button-next {
    @include hover;
    transition: opacity 0.3s ease 0s;

    &::after {
      @include centered(flex);
      position: absolute;
      width: em(60, 44);
      height: em(60, 44);
      font-size: rem(44) !important;
      color: $light;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: em(5, 44);

      @media (max-width: $mobile) {
        font-size: rem(32) !important;
      }
    }
  }

  // .swiper-button-disabled

  &-button-disabled {
    pointer-events: auto !important;
  }
}

[class*="__container"] {
  .swiper {
    // .swiper-button-prev

    &-button-prev {
      &::after {
        left: rem(-5);
      }
    }

    // .swiper-button-next

    &-button-next {
      &::after {
        right: rem(-5);
      }
    }
  }
}
