.slider-swiper {
  // .slider-swiper_btn

  &__btn {
    @include hover;

    position: absolute;
    top: 50%;
    z-index: 10;
    width: em(60, 44);
    height: em(60, 44);
    font-size: rem(44);
    color: $light;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: em(5, 44);
    transition: all 0.3s ease 0s;
    transform: translate(0, -50%);

    @media (max-width: $mobile) {
      font-size: rem(32);
    }

    &:disabled {
      opacity: 0.5;
    }

    // .slider-swiper__btn_prev

    &_prev {
      left: rem(calc($containerPadding / 2));

      .slider-swiper__arrow {
        &::before {
          transform: rotate(-90deg) translate(0, -5%);
        }
      }
    }

    // .slider-swiper__btn_next

    &_next {
      right: rem(calc($containerPadding / 2));

      .slider-swiper__arrow {
        &::before {
          transform: rotate(90deg) translate(0, -5%);
        }
      }
    }
  }
}
