@import "./LanguageSwitcher/LanguageSwitcher";
@import "./ThemeSwitcher/ThemeSwitcher";

.menu {
  ::-webkit-scrollbar {
    width: rem(3);
  }

  // .menu__button

  &__button {
    @media (max-width: $desktop) {
      position: relative;
      z-index: 9;
      display: block;
      width: rem(30);
      height: rem(18);

      &::before,
      &::after,
      > span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 9.5%;
        background-color: $light;
        border-radius: rem(5);
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      > span {
        top: 50%;
        transform: scale(1) translateY(-50%);
      }

      // .menu__button_active

      &_active {
        height: rem(30);

        &::before,
        &::after {
          top: 50%;
          height: 5%;
        }

        &::before {
          transform: translateY(-50%) rotate(45deg);
        }

        &::after {
          transform: translateY(-50%) rotate(-45deg);
        }

        > span {
          transform: scale(0);
        }
      }
    }
  }

  // .menu__body

  &__body {
    @media (max-width: $desktop) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      padding: rem(100) rem(30) rem(30) rem(30);
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.8);
      transition: right 0.3s ease 0s;

      // &::before {
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   z-index: 8;
      //   width: 100%;
      //   height: rem(70);
      //   content: "";
      //   background-color: rgba(0, 0, 0, 0.8);
      // }
      // .menu__body_active

      &_active {
        right: 0;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    font-size: rem(18);
    text-transform: uppercase;

    @media (max-width: $desktop) {
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: rem(24);
    }

    > * {
      &:not(:last-child) {
        @media (min-width: $desktop) {
          margin-right: rem(40);
        }

        @media (max-width: $desktop) {
          margin-bottom: em(40, 18);
        }
      }
    }
  }

  // .menu__list

  &__list {
    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
    }
  }

  // .menu__item

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media (min-width: $desktop) {
      &:not(:last-child) {
        margin-right: em(20, 18);
      }
    }

    @media (max-width: $desktop) {
      &:not(:last-child) {
        margin-bottom: em(30, 24);
      }
    }
  }

  // .menu__link

  &__link {
    flex: 0 1 auto;
    color: $light;
    text-align: right;

    @media (min-width: $desktop) {
      padding: em(10, 18) 0;
    }

    &:not(&_active) {
      font-weight: 500;
    }

    // .menu__link_active

    &_active {
      cursor: default;
      opacity: 0.5;
    }
  }

  a,
  button {
    @include hover;
    transition: opacity 0.3s ease 0s;
  }
}
