.concerts-main {
  position: relative;
  background-color: $mainBg;

  @media (prefers-color-scheme: dark) {
    background-color: $darkBg;
  }

  // .concerts-main__container

  &__container {
  }

  // .concerts-main__main-block

  &__main-block {
    padding: rem(50) 0;

    @media (max-width: $mobile) {
      padding: 0;
    }
  }

  // .concerts-main__img

  &__img {
    @media (min-width: $mobile) {
      img {
        border-top-left-radius: rem(10);
      }
    }
  }
}
