.popup-video {
  position: relative;

  // .popup-video__img

  &__img {
    aspect-ratio: 16/9;

    @supports not (aspect-ratio: 16 / 9) {
      padding-top: 56.25%;
    }

    &::after {
      @include fill;
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  // .popup-video__title

  &__title {
    position: absolute;
    top: rem(20);
    left: rem(calc($containerPadding / 2));
    z-index: 1;
    font-family: $fontFamily2;
    font-size: rem(18);
    font-weight: 500;
  }

  // .popup-video__popup

  &__popup {
    .popup {
      // .popup__button

      &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: rem(80);
        color: $darkColor;
        transition: all 0.3s ease 0s;
        transform: translate(-50%, -50%);

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  // .popup-video__video

  &__video {
    width: 50vw;

    @media (max-width: $tablet) {
      width: 75vw;
    }

    iframe {
      border-radius: rem(10);
    }
  }
}
