.popup-video {
  position: relative;

  // .popup-video__img

  &__img {
    aspect-ratio: 16/9;

    @supports not (aspect-ratio: 16 / 9) {
      padding-top: 56.25%;
    }

    &::after {
      @include fill;
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  // .popup-video__title

  &__title {
    position: absolute;
    top: rem(20);
    left: 0;
    z-index: 1;
    max-width: 100%;
    padding: 0 rem(calc($containerPadding / 2));
    font-size: rem(18);
    line-height: 1.2;
    @include nowrapText;
  }

  // .popup-video__popup

  &__popup {
    &.popup {
      // .popup_button

      &_btn {
        @include centered(position);
        @include hover;

        font-size: rem(80);
        color: $darkColor;
        transition: opacity 0.3s ease 0s;
      }
    }
  }

  // .popup-video__video

  &__video {
    width: 50vw;

    @media (max-width: $tablet) {
      width: 75vw;
    }

    iframe {
      border-radius: rem(10);
    }
  }
}
