.popup-video {
  position: relative;
  color: $light;

  // .popup-video__img

  &__img {
    aspect-ratio: 16 / 9;

    @supports not (aspect-ratio: 16 / 9) {
      padding-top: 56.25%;
    }

    &::after {
      @include fill;
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  // .popup-video__title

  &__title {
    position: absolute;
    top: rem(20);
    left: 0;
    z-index: 1;
    max-width: 100%;
    padding: 0 rem(calc($containerPadding / 2));
    font-size: rem(18);
    @include nowrapText;

    @media (max-width: $mobile) {
      font-size: rem(16);
    }
  }

  // .popup-video__popup

  &__popup {
    &.popup {
      // .popup_button

      &_btn {
        @include centered(position);
        @include hover;

        font-size: rem(80);
        color: $light;
        transition: opacity 0.3s ease 0s;

        @media (max-width: $mobile) {
          font-size: rem(60);
        }
      }
    }
  }

  // .popup-video__video

  &__video {
    width: 50vw;

    @media (max-width: $tablet) {
      width: 75vw;
    }

    iframe {
      border-radius: rem(10);
    }
  }
}
