.full-screen {
  display: flex;
  min-height: 100vh;

  @supports (min-height: 100svh) {
    min-height: 100svh;
  }

  // .full-screen__body

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(20);
    background-color: rgba(0, 0, 0, 0.8);

    + div {
      img,
      iframe,
      video {
        @include responsiveObject(fixed);
      }
    }
  }
}
