.listen-on {
  // .listen-on__list

  &__list {
    display: grid;
    gap: em(15, 30);
    justify-content: center;
  }

  // .listen-on__item

  &__item {
  }

  // .listen-on__link

  &__link {
    @extend %btn;
    @extend %btn_hover;
    display: block;
    padding: em(10, 30);
    font-size: rem(30);
    text-align: center;
    border-width: em(2, 30);
    border-radius: em(10, 30);
  }
}
